
<nav class="navbar navbar-expand-lg justify-content-center">
  <a class="navbar-brand" [routerLink]="['/']"
    ><i class="fab fa-edge fa-spin"></i> - Commerce 
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">
        <a class="nav-link">
          Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" routerLink="/cart" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">
        <a class="nav-link" >Cart</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <app-wishlist></app-wishlist>
      <app-cart></app-cart>
      <app-logout></app-logout>
    </div>
  </div>
</nav>